<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzj.baselibrary" >
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application>
        <activity android:name=".base.BaseMvpActivity" />
    </application>
</manifest>
