<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzj.baselibrary" >
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application >
        <activity

            android:name="com.tencent.smtt.sdk.VideoActivity"

            android:configChanges="orientation|screenSize|keyboardHidden"

            android:exported="false"

            android:launchMode="singleTask"

            android:alwaysRetainTaskState="true">

            <intent-filter>

                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
    </application>
</manifest>
